<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <!--icheck-->
  <link href="/js/admin/iCheck/skins/minimal/minimal.css" rel="stylesheet">
  <link href="/js/admin/iCheck/skins/square/square.css" rel="stylesheet">
  <link href="/js/admin/iCheck/skins/square/red.css" rel="stylesheet">
  <link href="/js/admin/iCheck/skins/square/blue.css" rel="stylesheet">

  <!--dashboard calendar-->
  <link href="/css/admin/clndr.css" rel="stylesheet">
  <link href="/css/admin/custom.css" rel="stylesheet">
  <!--Morris Chart CSS -->
  <link rel="stylesheet" href="/js/admin/morris-chart/morris.css">

  <link href="/js/admin/advanced-datatable/css/demo_page.css" rel="stylesheet" />
  <link href="/js/admin/advanced-datatable/css/demo_table.css" rel="stylesheet" />
  <link rel="stylesheet" href="/js/admin/data-tables/DT_bootstrap.css" />



  <!--common-->
  <link href="/css/admin/style.css" rel="stylesheet">
  <link href="/css/admin/style-responsive.css" rel="stylesheet">




  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">
  <!--========== Header ==========-->
  <% include ./parts/header %>

  <!--=========== End Header ============-->

  <!--========== Container ==========-->
  <div class="container" id="header-gap">
    <%- body -%>
  </div>
  <!--=========== End Container ============-->

  <!--=========== Footer ==========-->
  <% include ./parts/footer %>
  <!--=========== End Footer ==========->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/js/admin/jquery-1.10.2.min.js"></script>
<script src="/js/admin/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/admin/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/admin/bootstrap.min.js"></script>
<script src="/js/admin/modernizr.min.js"></script>
<script src="/js/admin/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="/js/admin/easypiechart/jquery.easypiechart.js"></script>
<script src="/js/admin/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="/js/admin/sparkline/jquery.sparkline.js"></script>
<script src="/js/admin/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="/js/admin/iCheck/jquery.icheck.js"></script>
<script src="/js/admin/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="/js/admin/flot-chart/jquery.flot.js"></script>
<script src="/js/admin/flot-chart/jquery.flot.tooltip.js"></script>
<script src="/js/admin/flot-chart/jquery.flot.resize.js"></script>


<!--Morris Chart-->
<script src="/js/admin/morris-chart/morris.js"></script>
<script src="/js/admin/morris-chart/raphael-min.js"></script>

<!--Calendar-->
<script src="/js/admin/calendar/clndr.js"></script>
<script src="/js/admin/calendar/evnt.calendar.init.js"></script>
<script src="/js/admin/calendar/moment-2.2.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

<!--common scripts for all pages-->
<script src="/js/admin/scripts.js"></script>

<!--Dashboard Charts-->
<script src="/js/admin/dashboard-chart-init.js"></script>

<script src="https://use.fontawesome.com/1020d47f06.js"></script>
<!--dynamic table-->
<script type="text/javascript" language="javascript" src="/js/admin/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/js/admin/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<script src="/js/admin/dynamic_table_init.js"></script>

</body>
</html>
